{% extends "libs/base.html" %}
{% load staticfiles %}
{% block style %}
<style>
.user-image {
  width:60px;
  height:60px;
}
</style>
{% endblock %}
{% block container %}
{% include "libs/title.html" with title="美丽代言" %}
<div class="am-container">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <img src="{% static "img/erweima.png" %}" data-rel="{% static "img/erweima.png" %}" alt="我的二维码"/>
  </figure>
  <button type="button" class="am-btn am-btn-primary am-btn-block">分享给好友</button>
  <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
  <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }"><p class=paragraph-default-p>美丽代言人，凡是购买了我们的产品的会员，都可以成为我们的美丽代言人。可以分享我的二维码给朋友，我的朋友通过我的二维码进来本商城，则我可以得到相应的奖励</p>
  </article>
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          我的线下
      </h2>
  </div>
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-4 am-avg-md-8 am-avg-lg-16 am-gallery-default" data-am-gallery="{  }" >
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image" alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image" alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image" alt="远方"/>
          </a>
      </div>
    </li>
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="远方"/>
          </a>
      </div>
    </li>

  </ul>
</div>
{% endblock %}