{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-container">
  <div class="am-margin-lg am-text-center" id="qrcode"></div>
  <div class="am-dropdown am-btn-block" data-am-dropdown="{boundary: '.am-btn-block'}" id="dropmenu">
        <button class="am-btn am-btn-beauty am-btn-block am-dropdown-toggle" data-am-dropdown-toggle>我要分享</button>
        <ul class="am-dropdown-content am-btn-block am-text-center">
          <li><a href="javascript:void(0);" id="ShareTimeline">分享到朋友圈</a></li>
          <li><a href="javascript:void(0);" id="ShareAppMessage">分享给微信好友</a></li>
          <li><a href="javascript:void(0);" id="ShareQQ">分享给QQ好友</a></li>
          <li><a href="javascript:void(0);" id="ShareQZone">分享到QQ空间</a></li>
        </ul>
      </div>
  </div>
  <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
  <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }"><p class=paragraph-default-p>美丽代言人，凡是购买了我们的产品的会员，都可以成为我们的美丽代言人。可以分享我的二维码给朋友，我的朋友通过我的二维码进来本商城，则我可以得到相应的奖励</p>
  </article>
  {% if relation_list %}
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          我的线下
      </h2>
  </div>
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-4 am-avg-md-8 am-avg-lg-16 am-gallery-default">
    {% for row in relation_list%}
    <li>
      <div class="am-gallery-item">
          {% if row.customer.avatar %}
          <img src="{{row.customer.avatar}}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
          {% else %}
          <img src="{% static "img/no-pic.png" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
          {% endif %}
      </div>
    </li>
    {% endfor %}
    {% for row in relation_list_sub%}
    <li>
      <div class="am-gallery-item">
          {% if row.customer.avatar %}
          <img src="{{row.customer.avatar}}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
          {% else %}
          <img src="{% static "img/no-pic.png" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
          {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="share-success">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-text-success">
      您分享成功了!^_^
    </div>
  </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="share-cancel">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-text-danger">
      您确定不要分享了吗？T.T
    </div>
  </div>
</div>
<div id="mcover" onclick="weChat()" style="display:none;">
  <img src="{% static 'img/share.png' %}" />
 </div>
{% endblock %}
{% block script %}
<style>
 #mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
 }
 #mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px!important;
    height: 180px!important;
    z-index: 20001;
 }
</style>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
wx.config({
    //debug : true,
    appId : '{{data.appId}}',
    timestamp : '{{data.timeStamp}}',
    nonceStr : '{{data.nonceStr}}',
    signature : '{{data.signature}}',
    jsApiList:[
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareQZone'
    ]
});
wx.ready(function(){
    $('#ShareTimeline').click(function(){
      wx.onMenuShareTimeline({
        title:'{{share.title}}', // 分享标题
        link:'http://shop.baremeii.com{% url 'code' customer.phone %}', // 分享链接
        imgUrl:'{{share.img}}', // 分享图标
        success: function () {
          $("#mcover").hide();
          // 用户确认分享后执行的回调函数
          $('#share-success').modal();
        },
        cancel: function () { 
          $("#mcover").hide();
          // 用户取消分享后执行的回调函数
          $('#share-cancel').modal();
        }
      });
      $('#dropmenu').hide();
      $("#mcover").show();
    });
    $('#ShareAppMessage').click(function(){
      wx.onMenuShareAppMessage({
        title:'{{share.title}}', // 分享标题
        desc:'{{share.desc}}', // 分享描述
        link:'http://shop.baremeii.com{% url 'code' customer.phone %}', // 分享链接
        imgUrl:'{{share.img}}', // 分享图标
        success:function () { 
          $("#mcover").hide();
          // 用户确认分享后执行的回调函数
          $('#share-success').modal();

        },
        cancel:function () { 
          $("#mcover").hide();
          // 用户取消分享后执行的回调函数
          $('#share-cancel').modal();
        }
      });
      $('#dropmenu').hide();
      $("#mcover").show();
    });
    $('#ShareQQ').click(function(){
      wx.onMenuShareQQ({
        title:'{{share.title}}', // 分享标题
        desc:'{{share.desc}}', // 分享描述
        link:'http://shop.baremeii.com{% url 'code' customer.phone %}', // 分享链接
        imgUrl:'{{share.img}}', // 分享图标
        success:function () { 
          $("#mcover").hide();
          // 用户确认分享后执行的回调函数
          $('#share-success').modal();
        },
        cancel:function () { 
          $("#mcover").hide();
          // 用户取消分享后执行的回调函数
          $('#share-cancel').modal();
        }
      });
      $('#dropmenu').hide();
      $("#mcover").show();
    });
    $('#ShareQZone').click(function(){
      wx.onMenuShareWeibo({
        title:'{{share.title}}', // 分享标题
        desc:'http://shop.baremeii.com{{share.desc}}', // 分享描述
        link:'{% url 'code' customer.phone %}', // 分享链接
        imgUrl:'{{share.img}}', // 分享图标
        success:function () { 
          $("#mcover").hide();
          // 用户确认分享后执行的回调函数
          $('#share-success').modal();
        },
        cancel:function () { 
          $("#mcover").hide();
          // 用户取消分享后执行的回调函数
          $('#share-cancel').modal();
        }
      });
      $('#dropmenu').hide();
      $("#mcover").show();
    });
});
</script>
<script>
  $(function(){
    $('#qrcode').qrcode({'text':'http://shop.baremeii.com{% url 'code' customer.phone %}', 'width':200,'height':200});
    $("#mcover").click(function(){
      $("#mcover").hide();
    });
  });
</script>
{% endblock %}