{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-container">
  <div class="am-margin-lg am-text-center" id="qrcode"></div>

  <div class="am-dropdown am-btn-block" data-am-dropdown="{boundary: '.am-btn-block'}">
        <button class="am-btn am-btn-beauty am-btn-block am-dropdown-toggle" data-am-dropdown-toggle>我要分享</button>
        <ul class="am-dropdown-content am-btn-block am-text-center">
          <li><a href="#">分享到朋友圈</a></li>
          <li><a href="#">分享给微信好友</a></li>
          <li><a href="#">分享给QQ好友</a></li>
        </ul>
      </div>
  </div>
  <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
  <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }"><p class=paragraph-default-p>美丽代言人，凡是购买了我们的产品的会员，都可以成为我们的美丽代言人。可以分享我的二维码给朋友，我的朋友通过我的二维码进来本商城，则我可以得到相应的奖励</p>
  </article>
  {% if relation_list %}
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          我的线下
      </h2>
  </div>
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-4 am-avg-md-8 am-avg-lg-16 am-gallery-default">
    {% for row in relation_list%}
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            {% if row.customer.avator %}
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
            {% else %}
            <img src="{% static "img/no-pic.png" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
            {% endif %}
          </a>
      </div>
    </li>
    {% endfor %}
    {% for row in relation_list_sub%}
    <li>
      <div class="am-gallery-item">
          <a href="{% static "img/a.jgp" %}" class="">
            {% if row.customer.avator %}
            <img src="{% static "img/a.jpg" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
            {% else %}
            <img src="{% static "img/no-pic.png" %}" class="am-img-thumbnail am-circle user-image"  alt="{{row.customer.phone}}"/>
            {% endif %}
          </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
  $(function(){
    $('#qrcode').qrcode({'text':'{% url 'code' customer.phone %}', 'width':200,'height':200});
  });

</script>
{% endblock %}