{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-container am-padding-lg">
  <div class="checkout-box">
    <div class="am-g am-text-xs am-margin-xs" id="show_box">
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr am-margin-0">订单号:</label></div>
      <div class="am-u-sm-4">{{order_txt}}</div>
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr am-margin-0">总价:</label></div>
      <div class="am-u-sm-4"><strong class="am-text-danger am-fl">￥{{total_price}}</strong><i class="am-icon-angle-double-left am-fr" id="show_icon"></i></div>
    </div>
    <div class="am-g am-text-xs am-padding-top-sm am-hide" id="order_products">
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr">产品:</label></div>
      <div class="am-u-sm-10">{{products|safe}}</div>
    </div>
  </div>
  <form class="am-form am-form-horizontal" action="{% url 'purchase' %}" method="POST" data-am-validator>
  {% csrf_token %}
  <input type="hidden" value="{{order_id}}" name="order_id">
  <div class="am-g am-margin-xs am-padding-top-xs am-text-xs">
    <div class="am-u-sm-2 am-padding-0"><label class="am-fr">姓名:</label></div>
    <div class="am-u-sm-10"><input type="text" name="realname" value="{{order.realname|default_if_none:customer.realname}}" class="am-input-sm" required></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-2 am-padding-0"><label class="am-fr">电话:</label></div>
    <div class="am-u-sm-10"><input type="text" name="phone" value="{{order.phone|default_if_none:customer.phone}}" class="am-input-sm js-pattern-mobile" required></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-2 am-padding-0"><label class="am-fr">地址:</label></div>
    <div class="am-u-sm-10"><input type="text" name="address" value="{{order.address|default_if_none:customer.address}}" class="am-input-sm" required></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-2 am-padding-0"><label class="am-fr">附言:</label></div>
    <div class="am-u-sm-10">
        <textarea class="" rows="3" name="message">{{order.message|default_if_none:''}}</textarea>
    </div>
  </div>
  <ul class="am-list am-list-static am-list-border am-text-xs am-padding-xs">
  {% for product in products_all %}
    {% if product.payment_type == 1 %}
      <li class="am-text-xs"> * {{product.name}} 仅限 {{product.payment_point}} 积分兑换 </li>
    {% elif product.payment_type == 2 %}
      <li class="am-text-xs"> * {{product.name}} 是否适用 {{product.payment_point}} 积分兑换 <input type="checkbox" value="1" name="payment_type_2_{{product.id}}"></li>
    {% elif product.payment_type == 3 %}
      <li class="am-text-xs"> * {{product.name}} 需要多付 {{product.payment_point}} 积分才能购买 </li>
    {% endif %}
  {% endfor %}
  </ul>
  <p>您需要支付 ¥ 以及扣除 积分(目前积分：<label class="am-text-danger">{{customer.point}}</label>)</p>
  <p><input type="radio"  value="weixin" name="pay" checked="checked" required> 微信支付</p>
  

  <div class="am-text-center am-padding-top-lg">
    <button type="submit" class="am-btn am-btn-beauty am-btn-sm">付款</button>
  </div>
  </form>
</div>
{% endblock %}
{% block script %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  $(function(){
    if ($.AMUI && $.AMUI.validator) {
      $.AMUI.validator.patterns.mobile = /^\s*1\d{10}\s*$/;
    }
    $('#show_box').click(function(){
      if($('#order_products').hasClass('am-hide')){
        $('#order_products').removeClass('am-hide');
        $('#show_icon').attr('class','am-icon-angle-double-down am-fr');
      }else{
        $('#order_products').addClass('am-hide');
        $('#show_icon').attr('class','am-icon-angle-double-left am-fr');
      }
    });
    
  });
</script>
{% endblock %}