{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
{% include "libs/title.html" with title="结帐" %}
<div class="am-container am-padding-lg">
  <div class="checkout-box">
    <div class="am-g am-text-xs am-margin-xs" id="show_box">
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr am-margin-0">订单号:</label></div>
      <div class="am-u-sm-2">{{order_id}}</div>
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr am-margin-0">总价:</label></div>
      <div class="am-u-sm-6"><strong class="am-text-danger am-fl">￥{{total_price}}</strong><i class="am-icon-angle-double-left am-fr" id="show_icon"></i></div>
    </div>
    <div class="am-g am-text-xs am-padding-top-sm am-hide" id="order_products">
      <div class="am-u-sm-2 am-padding-0"><label class="am-fr">产品:</label></div>
      <div class="am-u-sm-10">{{products|safe}}</div>
    </div>
  </div>
  <div class="am-g am-margin-xs am-padding-top-xs am-text-xs">
    <div class="am-u-sm-3 am-padding-0"><label class="am-fr">姓名:</label></div>
    <div class="am-u-sm-9"><input type="text" value="{{customer.realname|default_if_none:''}}" class="shopcart_info_form_input"></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-3 am-padding-0"><label class="am-fr">电话:</label></div>
    <div class="am-u-sm-9"><input type="text" value="{{customer.phone|default_if_none:''}}" class="shopcart_info_form_input"></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-3 am-padding-0"><label class="am-fr">地址:</label></div>
    <div class="am-u-sm-9"><input type="text" value="{{customer.address|default_if_none:''}}" class="shopcart_info_form_input"></div>
  </div>
  <div class="am-g am-text-xs am-margin-xs am-padding-top-xs">
    <div class="am-u-sm-3 am-padding-0"><label class="am-fr">附言:</label></div>
    <div class="am-u-sm-9">
        <textarea class="" rows="3" style="shopcart_info_form_textarea"></textarea>
    </div>
  </div>
  <ul class="am-listam-list-static am-list-border">
    <li><input type="radio" value="" name="" /> 微信支付</li>
  </ul>
  <div class="am-text-center am-padding-top-lg">
    <a class="am-btn am-btn-beauty am-btn-sm">付款</a>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $(function(){
    $('#show_box').click(function(){
      if($('#order_products').hasClass('am-hide')){
        $('#order_products').removeClass('am-hide');
        $('#show_icon').attr('class','am-icon-angle-double-down am-fr');
      }else{
        $('#order_products').addClass('am-hide');
        $('#show_icon').attr('class','am-icon-angle-double-left am-fr');
      }
    });
  });
</script>
{% endblock %}