{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-container">
	<div class="am-margin-vertical-xl">
		<div class="am-circle am-center" style="width:120px;height:120px;">
		{% if customer.avatar %}
			<img src="{{customer.avatar}}" class="am-img-thumbnail" width="120px" height="120px" />
		{% else %}
			<img src="{% static "img/no-pic.png" %}" class="am-img-thumbnail" width="120px" height="120px" />

		{% endif %}
		</div>
	</div>
	<div class="am-margin-vertical-xl">
		<p class="am-text-center am-text-lg"><strong>{{customer.username}}</strong></p>
		<p class="am-text-center am-text-xs">
			<strong>积分：<font class="am-text-danger">{{customer.point}}</font> &nbsp;&nbsp;&nbsp;&nbsp; 会员等级：<font class="am-text-danger">普通会员</font></strong>
		</p>
	</div>
	<div class="am-margin-lg">
		<a class="am-btn am-btn-shipping am-btn-block am-margin-top-sm" href="{% url "order" %}">我的订单</a>
	</div>
	<div class="am-margin-lg">
		<a class="am-btn am-btn-beauty am-btn-block am-margin-top-sm" href="{% url "beauty" %}">美丽代言</a>
	</div>
  
</div>
{% endblock %}