{% extends "libs/base.html" %}
{% load static %}
{% block container %}
<div data-am-widget="slider" class="am-slider am-slider-default am-margin-0" data-am-slider='{"animation":"slide","slideshow":false}' >
  <ul class="am-slides">
    {% for row in notice_list %}
    <li><a href="{% url "notice" row.id %}">
        <img src="{{row.cover}}">
        <div class="am-slider-desc am-text-xs">{{row.title}}</div></a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="am-container">
  {% if recommend_products %}
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
        <h2 class="am-titlebar-title ">
            店长推荐
        </h2>
    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" >
      {% for product in recommend_products %}
      <li>
        <div class="am-gallery-item">
            <a href="{% url 'product' product.id %}" class="">
              <img src="{{product.cover}}"  alt="{{product.name}}"/>
                <h3 class="am-gallery-title">{{product.name}}</h3>
                {% if product.payment_type == 1 %}
                  <div class="am-gallery-desc am-font-beauty">{{product.payment_point}} 积分</div>
                {% else %}
                  <div class="am-gallery-desc am-font-beauty">¥ {{product.price}}</div>
                {% endif %}
            </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for category in category_list %}
    {% if category.product_list %}
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
        <h2 class="am-titlebar-title ">
            {{category.name}}
        </h2>
    </div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered">
      {% for product in category.product_list %}
      <li>
        <div class="am-gallery-item">
            <a href="{% url 'product' product.id %}" class="">
              <img src="{{product.cover}}"  alt="{{product.name}}"/>
                <h3 class="am-gallery-title">{{product.name}}</h3>
                {% if product.payment_type == 1 %}
                  <div class="am-gallery-desc">{{product.payment_point}} 积分</div>
                {% else %}
                  <div class="am-gallery-desc">¥ {{product.price}}</div>
                {% endif %}
            </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}