{% extends "libs/base.html" %}
{% load staticfiles %}
{% block style %}
<style>
.login-form {
  margin-top: 30px;
}
</style>
{% endblock %}
{% block container %}
{% include "libs/title.html" with title="登录" %}
<div class="am-container">
  <form class="login-form am-form">
    <div class="am-form-group">
      <label for="doc-ipt-3" class="am-form-label">帐号</label>
      <input type="email" id="doc-ipt-3" placeholder="输入你的电子邮件">
    </div>

    <div class="am-form-group">
      <label for="doc-ipt-pwd-2" class="am-form-label">密码</label>
      <input type="password" id="doc-ipt-pwd-2" placeholder="设置一个密码吧">
    </div>

    <div class="am-form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> 记住帐号
        </label>
      </div>
    </div>

    <div class="am-form-group">
      <div class="am-u-sm-10 am-u-sm-offset-2">
        <button type="submit" class="am-btn am-btn-default">登录</button>
        <a href="/register" class="am-btn am-btn-default">注册</a>
      </div>
    </div>
  </form>
  
</div>
{% endblock %}