{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-container am-padding-lg">
    <div class="am-tabs">
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
            <li {% if tab == 'all' %}class="am-active"{% endif %}><a href="/order?tab=all">全部{{tab}}</a></li>
            <li {% if tab == 'unuse' %}class="am-active"{% endif %}><a href="/order?tab=unuse">已使用</a></li>
            <li {% if tab == 'used' %}class="am-active"{% endif %}><a href="/order?tab=used">未使用</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active">
            {% for order in order_list %}  
                {% for product in order.products_in_all %}
                    <div class="order-box am-padding-xs am-margin-xs">
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <p class="am-text-xs am-margin-xs">订单号：{{order.id}}</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-4">
                                <img src="{{product.product.cover}}" class="am-img-thumbnail product_img" />
                            </div>
                            <div class="am-u-sm-8">
                                {{product.product.name}} * {{product.count}}<br/>
                                <small class="am-text-danger">¥{{product.price}}</small>
                                {% if order.status == 3 %}
                                    {% if product.status == 1 %}
                                    <a class="am-btn am-btn-default am-btn-xs am-fr" disabled="disabled">已消费</a>
                                    {% else %}
                                    <a class="am-btn am-btn-beauty am-btn-xs am-fr" href="tel:075729292933">电话预约</a>
                                    {% endif %}
                                {% else %}
                                    <a class="am-btn am-btn-danger am-btn-xs am-fr" href="{% url 'shopcart_order_checkout' %}?order_id={{order.id}}">去付款</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            </div> 
        </div>
    </div>
</div>
{% endblock %}