{% extends "libs/base.html" %}
{% load static %}
{% block container %}
<div class="product-detail-cover">
	<img class="am-img-responsive" src="{{product.cover}}" />
	<div class="title">
		<p class="am-margin-xs"><strong>{{product.name}}</strong></p>
		{% if product.payment_type == 1 %}
		<p class="am-margin-xs"><strong class="am-text-danger">{{product.payment_point}} 积分</strong></p>
		{% elif product.payment_type == 2 %}
		<p class="am-margin-xs"><strong class="am-text-danger">¥ {{product.price}} 或 {{product.payment_point}} 积分</strong></p>
		{% elif product.payment_type == 3 %}
		<p class="am-margin-xs"><strong class="am-text-danger">¥ {{product.price}} 和 {{product.payment_point}} 积分</strong></p>
		{% else %}
		<p class="am-margin-xs"><strong class="am-text-danger">¥ {{product.price}}</strong></p>
		{% endif %}
	</div>
</div>
<div class="product-detail-cart am-margin-0 am-padding-bottom-0">
	<p>{{product.description}}</p>
	<div class="am-g">
		<div class="am-u-sm-6">
			<div class="am-input-group">
				<span class="am-input-group-btn">
	        		<button class="am-btn am-btn-default" type="button" id="up"><span class="am-icon-caret-up"></span> </button>
	      		</span>
		      	<input type="text" class="am-form-field" value="1" id="product_count" disabled="disabled">
		      	<span class="am-input-group-btn">
        			<button class="am-btn am-btn-default" type="button" id="down" disabled="disabled"><span class="am-icon-caret-down"></span> </button>
      			</span>
		    </div>
		</div>
		<div class="am-u-sm-6">
			<a class="am-btn am-btn-shipping" style="width:100%" id="quick_checkout" data-product-id="{{product.id}}">立刻购买</a>
		</div>
	</div>
	
</div>
<div class="product-detail-cart am-margin-0" data-am-sticky>
	<div class="am-g">
		<div class="am-u-sm-12">
			<a id="add_to_cart" class="am-btn am-btn-add-to-cart am-btn-block"><i class="am-icon-cart-plus"></i> 加入购物车</a>
		</div>
	</div>
</div>
<div class="am-container">
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
	    <h2 class="am-titlebar-title ">商品规格</h2>
	</div>
	<div class="am-margin-sm am-text-xs">
	<table class="am-table am-table-bordered am-table-radius">
		<tr>
			<td class="am-active">SKU: </td><td>{{product.model}}</td>
			<td class="am-active">分类: </td><td>{{product.category.name}}</td>
		</tr>
		{% for item in product_items %}
		<tr><td class="am-active">{{item.item.name}}: </td><td><i class="am-text-danger">{{item.value}}</i></td></tr>
		{% endfor%}
	</table>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
	    <h2 class="am-titlebar-title ">商品详情</h2>
	</div>
	<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }">	
	{{product.content|safe}}
  	</article>
</div>
<div class="amz-toolbar" id="amz-toolbar" style="right: 10px;">
	<a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a>
	<a href="/getting-started/faq" title="常见问题" class="am-icon-faq am-icon-btn am-icon-question-circle"></a>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="width:48px;">
	<a href="#" title="常见问题" onclick="window.location.href='http://kefu8.kuaishang.com.cn/bs/im.htm?cas=29827___232833&fi=31953';" class="am-icon-faq am-icon-btn am-btn-beauty am-icon-question-circle"></a>
    <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up"></a>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="add_to_cart_success">
	<div class="am-modal-dialog">
		<div class="am-modal-hd"><a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
		<div class="am-modal-bd">
	 	<p>成功加入购物车!</p>
	 	<a href="{% url "shopcart" %}" class="am-btn am-btn-beauty am-btn-sm">进入购物车</a>
		</div>
	</div>
</div>
<div id="checkout" class="am-offcanvas">
	<div class="am-offcanvas-bar am-offcanvas-bar-flip">
		<h3 class="am-padding-sm am-text-beauty am-hr">确认订单<a href="javascript:void(0);" onclick="$('#checkout').offCanvas('close');" class="am-close am-fr">&times;</a></h3>
		<div class="am-g am-text-xs">
			<div class="am-u-sm-3 am-padding-0"><label class="am-fr">订单号:</label></div>
			<div class="am-u-sm-9" id="order_id"></div>
		</div>
		<div class="am-g am-text-xs">
			<div class="am-u-sm-3 am-padding-0"><label class="am-fr">产品:</label></div>
			<div class="am-u-sm-9" id="order_products"></div>
		</div>
		<div class="am-g am-padding-top-sm am-text-xs am-hr">
			<div class="am-u-sm-3 am-padding-0"><label class="am-fr">总价:</label></div>
			<div class="am-u-sm-9"><strong class="am-text-danger" id="order_total_price"></strong></div>
		</div>
		<div class="am-padding-top-lg">
			<a class="am-btn am-btn-beauty am-btn-sm am-center" style="width:8rem" id="order_checkout">提交订单</a>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
$(function(){
	$('#up').on('click', function(){
		var num = parseInt($('#product_count').val());
		$('#product_count').val(num+1);
		if(num>=1)
			$('#down').removeAttr('disabled');
	});
	$('#down').on('click', function(){
		var num = parseInt($('#product_count').val());
		if(num>1){
			$('#product_count').val(num-1);
		}
		if(num==2){
			$('#down').attr('disabled','disabled');
		}
	});
    $('#add_to_cart').on('click', function() {
    	var num = $('#product_count').val();
    	$.get('{% url "addtocart" product.id %}?count='+num, function(res){
    		if(res.status == 'ok'){
    			$('#add_to_cart_success').modal({
		            'closeViaDimmer' : 0,
		            'width': 300,
		            'height': 120, 
		        });
    		}else{
    			alert(res.message);
    		}
    	});
    });
    $('#quick_checkout').on('click', function(){
    	var num = $('#product_count').val();

    	$.get('{% url "shopcart_order"%}?quick_id='+$(this).attr('data-product-id')+'&count='+num, function(r){
			if(r['status']=='ok'){
				$('#order_id').html(r['order_txt']);
				$('#order_products').html(r['products']);
				$('#order_total_price').html(r['total_price']);

				if(r['login']){
					$('#order_checkout').attr('href','{% url 'shopcart_order_checkout' %}?order_id='+r['order_id']);
				}else{
					$('#order_checkout').attr('href','{% url 'login' %}?forward=shopcart_order_checkout&order_id='+r['order_id']);
				}
				$('#checkout').offCanvas('open',{effect: 'overlay'});
			}else{
				alert(r.message);
			}
	    });
    });
});
</script>
{% endblock %}