{% extends "libs/base.html" %}
{% load static %}
{% block container %}
{% include "libs/title.html" with title=product.name %}
<div class="product-detail-cover">
	<img class="am-img-responsive" src="{{product.cover}}" />
	<div class="title">
		<p class="am-margin-xs"><strong>{{product.name}}</strong></p>
		<p class="am-margin-xs"><strong class="am-text-danger">¥ {{product.price}}</strong></p>
	</div>
</div>
<div class="product-detail-cart am-margin-0 am-padding-bottom-0">
	<p>{{product.description}}</p>
	<div class="am-g">
		<div class="am-u-sm-6">
			<div class="am-input-group">
				<span class="am-input-group-btn">
	        		<button class="am-btn am-btn-default" type="button"><span class="am-icon-caret-down"></span> </button>
	      		</span>
		      	<input type="text" class="am-form-field" value="1">
		      	<span class="am-input-group-btn">
        			<button class="am-btn am-btn-default" type="button"><span class="am-icon-caret-up"></span> </button>
      			</span>
		    </div>
		</div>
		<div class="am-u-sm-6">
			<a class="am-btn am-btn-shipping" style="width:100%">立刻购买</a>
		</div>
	</div>
	
</div>
<div class="product-detail-cart am-margin-0" data-am-sticky>
	<div class="am-g">
		<div class="am-u-sm-12">
			<a id="add_to_cart" class="am-btn am-btn-add-to-cart am-btn-block"><i class="am-icon-cart-plus"></i> 加入购物车</a>
		</div>
	</div>
</div>
<div class="am-container">
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
	    <h2 class="am-titlebar-title ">商品规格</h2>
	</div>
	<div class="am-margin-sm am-text-xs">
	<table class="am-table am-table-bordered am-table-radius">
		<tr>
			<td class="am-active">SKU: </td><td>{{product.id}}</td>
			<td class="am-active">分类: </td><td>{{product.category.name}}</td>
			</tr>
		<tr>
			<td class="am-active">价格: </td><td>¥{{product.price}}</td>
			<td class="am-active">库存: </td><td>{{product.stock}}</td>
		</tr>
		{% for item in product_items %}
		<tr><td class="am-active">{{item.item.name}}: </td><td><i class="am-text-danger">{{item.value}}</i></td></tr>
		{% endfor%}
	</table>
	</div>
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
	    <h2 class="am-titlebar-title ">商品详情</h2>
	</div>
	<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default" data-am-paragraph="{ tableScrollable: true, pureview: true }">
		
	{{product.content|safe}}
  	</article>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="width:48px;">
    <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up"></a>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="add_to_cart_success">
	<div class="am-modal-dialog">
		<div class="am-modal-hd"><a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
		<div class="am-modal-bd">
	 	<p>成功加入购物车!</p>
	 	<a href="{% url "shopcart" %}" class="am-btn am-btn-primary am-btn-sm">进入购物车</a>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
$(function(){
    $('#add_to_cart').on('click', function() {
        $('#add_to_cart_success').modal({
            'closeViaDimmer' : 0,
            'width': 300,
            'height': 120, 
        });
    });
});
</script>
{% endblock %}