{% extends "libs/base.html" %}
{% load staticfiles %}
{% block style %}
<style>
.register-form {
  margin-top: 10px;
}
</style>
{% endblock %}
{% block container %}
<div class="am-container">
    {% if status and status == 'success' %}
    <div class="am-text-center" style="margin-top:3rem">
        <h2>您重置密码成功！</h2>
    </div>
    {% elif status == 'field-failed' %}
    <div class="am-text-center" style="margin-top:3rem;">
        {% if 'newpassword' in errors %}
            <h3>新密码不能为空！</h3>
        {% endif %}
        {% if 'oldpassword' in errors %}
            <h3>旧密码不能为空！</h3>
        {% endif %}
        <a href="{% url 'repw' %}" class="am-btn am-btn-beauty am-btn-sm am-center">返回</a>
    </div>
    {% elif status == 'db-failed' %}
    <div  class="am-text-center" style="margin-top:3rem;">
        <h3>{{errors.message}}</h3>
        <a href="{% url 'repw' %}" class="am-btn am-btn-beauty am-btn-sm am-center">返回</a>
    </div>
    {% else %}
    <form class="register-form am-form" data-am-validator method="POST" action="{% url 'repw' %}">
        {% csrf_token %}

        <div class="am-form-group">
            <label class="am-form-label">旧密码</label>
            <input type="password" name="oldpassword" id="oldpassword" placeholder="请输入您的帐号密码" required />
        </div>
        <div class="am-form-group">
            <label class="am-form-label">新密码</label>
            <input type="password" name="newpassword" id="newpassword" placeholder="请输入您的新密码" required />
        </div>

        <div class="am-form-group">
            <label class="am-form-label">重复密码</label>
            <input type="password" name="repassword" placeholder="请重复输入您的新密码" required data-equal-to="#newpassword" />
        </div>

        <div class="am-form-group">
            <div class="am-center" style="width:18rem;">
                <button type="submit" class="am-btn am-btn-beauty">提交</button>
                <a href="{% url "customer" %}" class="am-btn am-btn-beauty">返回</a>
            </div>
        </div>
        
    </form>
    {% endif %}
</div>
{% endblock %}