{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
{% include "libs/title.html" with title="便捷服务" %}
<div class="am-slider am-slider-default am-margin-0" data-am-flexslider="{directionNav: false, controlNav: false}">
  <ul class="am-slides">
    {% for row in notice_list %}
    <li class="slider-notice-li"><p><a href="{% url "notice" row.id %}" class="am-text-sm am-text-white">{{row.title}}</a></p></li>
    {% endfor %}
  </ul>
</div>
<div data-am-widget="map" class="am-map am-map-default"
    data-name="贝尔美医学美容医院" data-address="{{address.values}}" data-longitude="" data-latitude="" data-scaleControl="" data-zoomControl="true" data-setZoom="17" data-icon="http://amuituku.qiniudn.com/mapicon.png">
  <div id="bd-map"></div>
</div>
<div class="am-text-xs am-text-grey am-margin-xs am-padding-xs">
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-map-marker"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
      {{address.values}}
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-phone"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
      {{tel.values}}
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-bus"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
      {{traffic.values|safe}}
    </div>
  </div>
  <a class="am-btn am-btn-beauty am-btn-block am-margin-top-sm" href="http://www.bing.com" target="_blank">我要预约</a>
</div>


<div class="am-container">
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          开始咨询
      </h2>
  </div>
  <form class="am-form am-magin-l">
  <fieldset>
    <div class="am-form-group">
      <textarea class="" rows="5" id="doc-ta-1"></textarea>
    </div>
    </fieldset>
    <button class="am-btn am-btn-beauty am-btn-block" href="http://www.bing.com" target="_blank">我要咨询</button>
  </form>
  
</div>
{% endblock %}