{% extends "libs/base.html" %}
{% load staticfiles %}
{% block style %}
<style>
.am-list-news-default .am-list>li {
  border:none;
}
</style>
{% endblock %}
{% block container %}
{% include "libs/title.html" with title="便捷服务" %}
<div class="am-container">
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          实时公告
      </h2>
  </div>
  <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <div class="am-list-news-bd">
      <ul class="am-list">
          <li class="am-g am-list-item-dated">
              <a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
              <span class="am-list-date">2013-09-18</span>
          </li>
          <li class="am-g am-list-item-dated">
              <a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
              <span class="am-list-date">2013-10-14</span>
          </li>
          <li class="am-g am-list-item-dated">
              <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>

              <span class="am-list-date">2013-11-18</span>


          </li>
      </ul>
    </div>
  </div>
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          联系我们
      </h2>
  </div>

  <article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default"
           data-am-paragraph="{ tableScrollable: true, pureview: true }">
    <p>联系方式：</p>
    <p>来院方式：</p>
  </article>

  <div data-am-widget="map" class="am-map am-map-default"
      data-name="云适配" data-address="北京市海淀区海淀大街27号亿景大厦3层西区" data-longitude="" data-latitude="" data-scaleControl="" data-zoomControl="true" data-setZoom="17" data-icon="http://amuituku.qiniudn.com/mapicon.png">
    <div id="bd-map"></div>
  </div>
  <a class="am-btn am-btn-success am-btn-block" href="http://www.bing.com" target="_blank">我要预约</a>
  
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          开始咨询
      </h2>
  </div>
  
</div>
{% endblock %}