{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
{% include "libs/title.html" with title="购物车" %}
<div class="am-container am-text-dgrey">
  {% if products_in %}
    {% for row in products_in %}
    <div class="am-g am-margin-vertical-sm am-text-sm">
      <div class="am-u-sm-1">
        <label class="am-checkbox am-danger">
          <input type="checkbox" name="pid" value="{{row.product.id}}" data-am-ucheck {% if row.checked %}checked="checked" checked{% endif %} onclick="shopcart_select(this)"/>
        </label>
      </div>
      <div class="am-u-sm-3 am-padding-0">
        <img src="{{row.product.cover}}" class="am-img-thumbnail shopcart_product_img am-center" />
      </div>
      <div class="am-u-sm-8">
          <div class="am-g">
            <dic class="am-u-sm-6">
              <div class="am-g"><dic class="am-u-sm-12">{{row.product.name}}</dic></div>
              <div class="am-g">
                <div class="am-u-sm-10">
                  <div class="am-input-group am-input-group-shopcart">
                    <span class="am-input-group-btn">
                      <button class="am-btn" type="button" onclick="shopcart_up({{row.product.id}})"><span class="am-icon-caret-up"></span> </button>
                    </span>
                    <input type="text" class="am-form-field am-text-center" value="{{row.count}}" id="product_{{row.product.id}}" disabled="disabled">
                    <span class="am-input-group-btn">
                      <button class="am-btn am-btn-default" type="button" id="btn_down_{{row.product.id}}" onclick="shopcart_down({{row.product.id}})" {% if row.count == 0 %} disabled="disabled" {% endif %}><span class="am-icon-caret-down"></span> </button>
                    </span>
                  </div>
                </div>
              </div>
            </dic>
            <dic class="am-u-sm-6 am-vertical-align" style="height:3.5rem;"><span class="am-vertical-align-xs am-text-danger">¥<label id="total_{{row.product.id}}">{{row.price}}</label></span></dic>
          </div>
      </div>
    </div>
    {% endfor %}
    <div class="am-shopcart am-cf">
      <div class="am-g">
        <div class="am-u-sm-3">
            <label class="am-checkbox am-danger">
              <input type="checkbox" id="select_all" data-am-ucheck>全选
            </label>
        </div>
        <div class="am-u-sm-6 am-padding-0"><label class="am-fr">总价:¥<label id="total_price">{{shopcart.total_price|default:0}}</label>元</label></div>
        <div class="am-u-sm-3">
          <button type="button" name="checkout" class="am-btn am-btn-beauty am-btn-xs">结算</button>
        </div>
      </div>
    </div>
  {% else %}
    <div class="am-margin-lg">
      <p class="am-center am-text-success am-text-center">购物车空空如也～</p>
      <a href="{% url "main" %}" class="am-btn am-btn-beauty am-center"><i class="am-icon-shopping-cart"></i> 去逛逛</a>
    </div>
  {% endif %}

  <div id="checkout" class="am-offcanvas">
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
      <h3 class="am-padding-sm am-text-beauty am-hr">确认订单<a href="javascript:void(0);" onclick="$('#checkout').offCanvas('close');" class="am-close am-fr">&times;</a></h3>
      <div class="am-g am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">订单号:</label></div>
        <div class="am-u-sm-9" id="order_id"></div>
      </div>
      <div class="am-g am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">产品:</label></div>
        <div class="am-u-sm-9" id="order_products"></div>
      </div>
      <div class="am-g am-padding-top-sm am-text-xs am-hr">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">总价:</label></div>
        <div class="am-u-sm-9"><strong class="am-text-danger" id="order_total_price"></strong></div>
      </div>
      <!--
      <div class="am-g am-padding-top-sm am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">姓名:</label></div>
        <div class="am-u-sm-9"><input type="text" value="" class="shopcart_info_form_input"></div>
      </div>
      <div class="am-g am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">电话:</label></div>
        <div class="am-u-sm-9"><input type="text" value="" class="shopcart_info_form_input"></div>
      </div>
      <div class="am-g am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">地址:</label></div>
        <div class="am-u-sm-9"><input type="text" value="" class="shopcart_info_form_input"></div>
      </div>
      <div class="am-g am-padding-bottom-sm am-text-xs">
        <div class="am-u-sm-3 am-padding-0"><label class="am-fr">附言:</label></div>
        <div class="am-u-sm-9">
            <textarea class="" rows="3" style="shopcart_info_form_textarea"></textarea>
        </div>
      </div>
      -->
      <div class="am-padding-top-lg">
        <a class="am-btn am-btn-beauty am-btn-sm am-center" style="width:8rem" id="order_checkout">提交订单</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
function shopcart_up(product_id){
  $.get('{% url "shopcart_update" "up" %}', {"id":product_id}, function(res){
    if(res['status']=='success'){
      $('#product_'+product_id).val(res['count']);
      $('#total_'+product_id).html(parseFloat(res['price']).toFixed(2));
      $('#total_price').html(parseFloat(res['total_price']).toFixed(2));

      if(res['count']==1){
        $('#btn_down_'+product_id).removeAttr('disabled')
      }
    }
  })
}
function shopcart_down(product_id){
  var num = parseInt($('#product_'+product_id).val());
  if(num-1>=0){
    $.get('{% url "shopcart_update" "down" %}', {"id":product_id}, function(res){
      if(res['status']=='success'){
        $('#product_'+product_id).val(res['count']);
        $('#total_'+product_id).html(parseFloat(res['price']).toFixed(2));
        $('#total_price').html(parseFloat(res['total_price']).toFixed(2));

        if(res['count']==0){
          $('#btn_down_'+product_id).attr('disabled','disabled');
        }
      }
    })
  }
}
function shopcart_select(obj){
  if($(obj).is(':checked')){
    $.get('{% url "shopcart_update" "check" %}', {"id":$(obj).val()});
  }else{
    $.get('{% url "shopcart_update" "uncheck" %}', {"id":$(obj).val()});
  }
  check_all();
}
function check_all(){
  _check_all = true;
  $('input[name="pid"]').each(function(i,obj){
    _check_all &= $(obj).is(':checked');
  });
  if(_check_all){
    $('#select_all').uCheck('check');
  }else{
    $('#select_all').uCheck('uncheck');
  }
}
$(function(){
  $('#select_all').on('click', function(evt){
    if($('#select_all').is(':checked')){
      $('input[type="checkbox"]').uCheck('check');
      $.get('{% url "shopcart_update" "check_all" %}');
    }else{
      $('input[type="checkbox"]').uCheck('uncheck');
      $.get('{% url "shopcart_update" "uncheck_all" %}');
    }
  });
  $('button[name="checkout"]').click(function(){
    $.get('{% url "shopcart_order"%}', function(res){
      if(res['status']=='ok'){
        $('#order_id').html(res['order_id']);
        $('#order_products').html(res['products']);
        $('#order_total_price').html(res['total_price']);

        if(res['login']){
          $('#order_checkout').attr('href','{% url 'shopcart_order_checkout' %}?order_id='+res['order_id'])
        }else{
          $('#order_checkout').attr('href','{% url 'login' %}?forward=shopcart_order_checkout&order_id='+res['order_id'])
        }
      }
    });
    $('#checkout').offCanvas('open',{effect: 'overlay'});
  });
  check_all();
  //$('button[name="checkout"]').click();
});
</script>
{% endblock%}