{% extends "libs/base.html" %}
{% load staticfiles %}
{% block container %}
<div class="am-slider am-slider-default am-margin-0" data-am-flexslider="{directionNav: false, controlNav: false}">
  <ul class="am-slides">
    {% for row in notice_list %}
    <li class="slider-notice-li"><p><a href="{% url "notice" row.id %}" class="am-text-sm am-text-white">{{row.title}}</a></p></li>
    {% endfor %}
  </ul>
</div>
<div id="bd-map" style="width:100%;height:300px;"></div>
<div class="am-text-xs am-text-grey am-margin-xs am-padding-xs">
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-map-marker"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
      中国广东省佛山市顺德区容桂镇桂洲大道东（桂洲大道与105国道交汇处/创富酒店旁）
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-phone"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
      美丽热线：400-823-2833
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-1 am-u-lg-2">
      <i class="am-icon-bus"></i>
    </div> 
    <div class="am-u-sm-11 am-u-lg-10">
        轻轨：广州南站 → 顺德站 → 容桂站<br/>
        自驾：广珠西线 → 碧桂公路 → 龙盘西路 → 容奇大桥 →桂洲大道与105国道交汇处<br/>
        途经公交：335路; 326路; 322路; 317路 ; 214路,; 217路 ; 211路到鹿茵酒店公交站下车
    </div>
  </div>
  <a class="am-btn am-btn-beauty am-btn-block am-margin-top-sm" href="tel:075729292933" target="_blank">我要预约</a>
</div>

{% if customer_id %}
<div class="am-container">
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
      <h2 class="am-titlebar-title ">
          我要咨询
      </h2>
  </div>
  <ul class="am-comments-list am-comments-list-flip am-text-xs">
    {%for message in message_data %}
      {% for m in message.question_text %}
      <li class="am-comment am-comment-flip">
        {% if message.customer.avatar %}
        <img src="{{message.customer.avatar}}" alt="" class="am-comment-avatar" width="48" height="48">
        {% else %}
        <img src="{% static "img/no-pic.png" %}" alt="" class="am-comment-avatar" width="48" height="48">
        {% endif %}
        <div class="am-comment-main">
          <div class="am-comment-bd"><p>{{m}}</p></div>
        </div>
      </li>
      {% endfor %}
      {% if message.answer_text %}
      <li class="am-comment am-comment-danger">
        <img src="{% static "img/logo-avatar.png" %}" alt="" class="am-comment-avatar" width="48" height="48">
        <div class="am-comment-main"><div class="am-comment-bd"><p>{{message.answer_text}}</p></div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
    </ul>

  <form class="am-form am-magin-l" action="{% url "ask"%}" method="POST">
  {% csrf_token %}
  <fieldset>
    <div class="am-form-group">
      <textarea class="" rows="3" name="message" required ></textarea>
    </div>
    </fieldset>
    <button class="am-btn am-btn-beauty am-btn-block" href="http://www.bing.com" target="_blank">发送</button>
  </form>
  
</div>
{% endif %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TKPqlXZHLrMwt2nf9n9mLReN"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("bd-map"); 
      map.centerAndZoom(new BMap.Point(113.290157,22.761491),18);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"",title:"",imageOffset: {width:-23,height:-21},position:{lat:22.761491,lng:113.290157}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
      var labels = [
        {position:{lng:113.290157,lat:22.761491},content:"贝尔美医学美容医院"}
      ];
      for(var index = 0; index < labels.length; index++){
        var opt = { position: new BMap.Point(labels[index].position.lng,labels[index].position.lat )};
        var label = new BMap.Label(labels[index].content,opt);
        map.addOverlay(label);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,type:1});
      map.addControl(navControl);
    }
    var map;
      initMap();
  </script>
  {% endblock %}