/* Write your styles */
.am-header-app {
  background-color: #fff;
  border-bottom: #eee solid 1px;
  height:5.2rem;
}
.am-header {
	line-height:5.2rem;
}
.am-header .am-header-nav img {
	height:4.2rem;
}
.am-header-app a {
	color: #888;
}
.product-items li{
	border-bottom: #eee solid 1px;	
}
.product-detail-cover {
	position: relative;
}
.product-detail-cover .title {
	position:absolute;
	bottom: 0;
	width: 100%;
} 
.product-detail-cover .title p {
	color: #eee;
}
.product-detail-cart {
	background-color: rgb(253,241,247);
	padding: 1rem;
	margin: 1rem;
}
.product-detail-cart p {
	color: #999;
	font-size: 1.2rem;
	
}
.am-btn-beauty ,.am-btn-beauty:hover {
	color: #fff;
	background-color: rgb(227, 48, 140);
}
.am-text-beauty {
	color: rgb(227, 48, 140);
}
.am-btn-add-to-cart ,.am-btn-add-to-cart:hover {
	color: #fff;
	background-color: rgb(235, 104, 162);
	font-weight: 900;
}
.am-btn-shipping , .am-btn-shipping:hover {
	color: #fff;
	background-color: rgb(108, 23, 134);
	font-weight: 900;
}
.am-titlebar-default .am-titlebar-title {
	color: #888;
}
.am-titlebar-default .am-titlebar-title:before{
	border-left-color: #888;
}
.am-navbar-default {
	border-top: #eee solid 1px;
}
.am-navbar-default .am-navbar-nav {
	background-color: #fff;
}
.am-navbar-default a {
	color: #333;
}
.am-gallery-imgbordered .am-gallery-desc {
	color: rgb(227, 48, 140);
}
.slider-notice-li{
	background-color: rgb(96, 10, 117);
	line-height: 4rem;
	height: 4rem;
	color: #fff;
	
}
.slider-notice-li p{
	padding: 0 0.8rem;
}
.am-text-grey {
	color: #aaa;
}
.am-text-dgrey {
	color: #333;
}
.am-text-white {
	color: #fff;
}
.am-shopcart {
  position: fixed;
  left: 0;
  bottom: 4.2rem;
  line-height: 4rem;
  width:100%;
  height: 4rem;
  z-index: 1011;
  background-color: rgb(96, 10, 117);
  color: #fff;
}
.am-shopcart label.am-checkbox, .am-shopcart span.am-ucheck-icons{
	display:block;
	font-weight: 800;
	line-height:4rem;
	margin: 0;
}
.user-image{
  width:6rem;
  height:6rem;
}
.shopcart_product_img {
	width:6rem;
}
.am-list-noborder > li {
  border: none;
}
.am-input-group-shopcart > .am-form-field,
.am-input-group-shopcart > .am-input-group-label,
.am-input-group-shopcart > .am-input-group-btn > .am-btn {
  height: 2.3rem;
  font-size: 1rem !important;
  border: none;
  background-color: #fff;
  padding:0.4rem;
}
.am-input-group-shopcart > .am-input-group-label {
  line-height: 2rem;
}
.login-form {
  margin-top: 3rem;
}
.am-tabs-bd {
  border:none;  
}
.am-nav-tabs.am-nav-justify > li > a {
  border:none;
  background-color: #eee;
  color: #999;
}
.am-nav-tabs.am-nav-justify > .am-active > a, .am-nav-tabs.am-nav-justify > .am-active > a:hover, .am-nav-tabs.am-nav-justify > .am-active > a:focus{
  border: none;
  background-color: rgb(227, 48, 140);
  color: #fff;
}
.order-box{
  border: rgb(149,149,149) solid 0.2rem;
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
}
.am-paragraph-default img {
	border:none;
}
.am-hr {
	border-bottom: #eee solid 0.1rem;
}
.am-offcanvas-bar:after,.am-offcanvas-bar-active {
	background-color: #fff;
}
.shopcart_info_form_input {
	border-top:none;
	border-left: none;
	border-right:none;
	border-bottom: #999 solid 0.1rem;
}
.shopcart_info_form_textarea {
	border:#999 solid 1px;
}